body
{
	font-family:Georgia;
	font-size:10px;
	line-height:1em;
	color:#000000;
	background:url(../img/main-bg.png) repeat;
}

#main-bg
{
background:url(../img/bg.png) repeat-y center;
}

#left-bar
{
margin-left:15px;
width:220px;
}

#left-bar .logo-bar
{
padding-left:5px;
padding-top:40px;
padding-bottom:14px;
}

.lb-item
{
margin-bottom:1px;
width:220px;
}


#left-bar .active
{
background-color:#dddddd;
}

#left-bar .testimonial
{
background: url("../img/testimonialborder.png") no-repeat bottom left;
height:210px;
margin-top:10px;
}

#left-bar .t-right
{
background: url("../img/testimonialborder.png") no-repeat bottom right;
height:210px;
}

blockquote
{
background:url("../img/lcurl.png") no-repeat scroll left top transparent;
margin:0 10px 0 10px;

}

blockquote .quote{
font-size:15px;
padding:0px 10px 10px 20px;
font-family:georgia;
line-height:1.3em;
color:#333333;

}

blockquote .rquote
{
background:url("../img/rcurl.png") no-repeat scroll right bottom transparent;
padding-left:5px;
}

p.source {
font-style:normal;
margin:0;
padding:0px 0 0 30px;
}

#top-menu
{
padding-top:90px;
}

#top-menu .initnism
{
    float:left;
    padding-right:35px;
    margin-left:-10px;
    
}

#top-menu a img
{
padding:0;
margin:0;
}

#main-content
{
margin-top:2px;
margin-left:-30px;
margin-right:0px;
}

#main-content .mc1
{
background: url("../img/main-big.png") no-repeat bottom left;
}

#main-content .mc2
{
background: url("../img/main-big.png") no-repeat bottom right;
}

#main-content .mc-small
{
margin-top:20px;
}

#main-content .mc3
{
background: url("../img/mcsmall-border.png") no-repeat bottom left;
}

#main-content .mc4
{
background: url("../img/mcsmall-border.png") no-repeat bottom right;
}

.mcbig-content
{
margin-left:7px;
}

.mcsmall-content
{
margin-left:6px;
margin-bottom:10px;
}

#r-section
{
margin-left:7px;
width:220px;
}

#reason .hd
{
padding:0;
margin:0;
}
#reason
{
padding:0;
margin:5px 0px 0px 10px;
}
#reason li 
{
list-style-type:none;
background: url("../img/reasonborder.gif") no-repeat top left;
padding-top:7px;
padding-bottom:5px;
line-height:1.4em;
font-size:1.1em;
width:205px;
}

#reason li  p
{
margin:0;
padding-left:30px;
}

#reason p.r1
{
background: url("../img/1.gif") no-repeat center left;
}

#reason p.r2
{
background: url("../img/2.gif") no-repeat center left;
}

#reason p.r3
{
background: url("../img/3.gif") no-repeat center left;
}

#reason p.r4
{
background: url("../img/4.gif") no-repeat center left;
}

#reason p.r5
{
background: url("../img/5.gif") no-repeat center left;
}

#subsribe 
{
background-color:#cecece;
padding-top:20px;
padding-bottom:15px;
margin-top:0px;
padding-left:10px;
margin-left:5px;
}

    
#subsribe table td
{
padding:0;
margin:0;
}

#subsribe table tr
{
padding:0;
margin:0;
}
#subsribe img
{
margin:0;
padding:0;
float:left;
padding-top:3px;
}

#subsribe .newsimg
{
padding-top:10px;
}

#subsribe .intemail
{
padding:0px;
margin:0;
width:111px;
margin-left:5px;
font-family:georgia;
font-size:11px;
border:1px solid #e2e2e2;
font-style:italic;
text-align:center;
color:#000000;
}

.btngo
{
margin-left:40px;
padding-top:5px;
}

#social
{
margin:5px 10px 10px 0px;
}

#social img
{
padding-left:10px;
}

.followus
{
float:left;
padding:0;
padding-top:7px;
padding-right:5px;
}

#curriculum
{
background:url("../img/curriculum-bg.png") no-repeat center left;
width:225px;
height:225px;
}

#curriculum p
{
font-family:georgia;
font-size:1.2em;
line-height:1.5em;
font-style:italic;
color:#000000;
font-weight:bold;
padding-top:35px;
padding-left:20px;
}

.viewcurriculum
{
padding-top:27px;
padding-left:10px;
}

#sitemap 
{
font-family:georgia;
font-size:11px;
background-color:#e3e2e0;
padding-top:25px;
margin-left:-3px;
width:970px;
}

.smap
{
padding-right:10px;
}


#sitemap h1
{
font-size:1.5em;
color:#8c8278;
}

#sitemap dt a
{
font-size:1em;
font-weight:normal;
line-height:1.5em;
color:#8c866e;
text-decoration:none;
}

#btm-links
{
text-align:center;
margin-top:15px;
padding-bottom:10px;
background-color:#cfcfcf;
width:970px;
margin-left:-3px;
}

#insidepg-content
{
margin:0px;
width:475px;
margin-left:-36px;

}

#insidepg-content .top-section
{
    text-align:center;
    
}
#insidepg-content .top-section img
{
border-left:3px solid #cacac9;
    border-right:3px solid #cacac9;
    margin:0;
    padding:0;
    margin-bottom:-2px;
    margin-right:1px;
    }
    
#insidepg-content .middle-section
{
background: url("../img/middle-sec.png") repeat-y center top;
padding-bottom:5px;
min-height:475px;    
}

#insidepg-content .bottom-section
{
    text-align:center;
}


#pg-content
{
padding-top:20px;
padding-left:25px;
padding-right:25px;
font-family:georgia;
font-size:1.2em;
line-height:1.6em;
}

#pg-content td
{
 vertical-align:top;
 padding-bottom:20px;   
}
#pg-content h1
{
font-size:1.8em;
font-style:italic;
line-height:1.2em;
color:#4c9cd0;
}

#pg-content h2
{
font-size:1.6em;
font-style:italic;
line-height:1.2em;
color:#4c9cd0;
}

#pg-content p strong
{
font-style:italic;
}

#pg-content p a
{
text-decoration: none;
color:#4d99ca;      
}
.banner
{
margin-top:30px;
}

.hr {
  height: 0;
  font-size: 0;
  line-height: 0;
  width: 80%;
  margin: 1em auto;
  background-color:#ffffff;
}

.dashes {
border-bottom: dashed 1px #95969a;

}
 
#registerlink
{
    background:url("../img/register-bg.png") no-repeat left top;
    width:134px;
    height:108px;
    margin-left:-5px;
    padding-top:19px;
    padding-left:67px;
}

#registor-info
{
    width:447px;
    height:200px;
    background:#e5e5e5 url("../img/registerinfo-bg.png") no-repeat right top;
}

#registor-info .content
{
    margin-left:20px;
    padding-top:15px;
    margin-right: 90px;
    
}

#registor-info img
{
    margin:0;
    padding:0;
}
#registor-info p
{
    font-family:georgia;
    font-style: italic;
    font-size:1.2em;
    color:#4f4f4f;
    line-height:1.6em;
    font-weight:bold;
    padding: 0;
    margin-top: 10px;
    margin-bottom:15px;
}

#registor-info a
{
    text-decoration:none;
    color:#4d99ca;
}

#register-form
{
    
    width:525px;
    background-color: #ffffff;
    font-style: italic;
    font-family:georgia;
    font-size:1.2em;
    color:#4f4f4f;
    line-height:1.6em;
    font-weight:bold;
    display:none;
}

#register-form .header
{
    
    font-style: normal;
    font-size:1.5em;
    margin-left:20px;
    float:left;
    margin-top:20px;
}


#register-form .content
{
    margin-left:20px;
    
}
#register-form p
{
    padding: 0;
    margin-top: 10px;
    margin-bottom:15px;
    margin-right:80px;
    text-align:left;
}

#register-form td
{
    
    font-weight:bold;
    vertical-align:top;
    padding-top:0;
}

#register-form td.col1
{
    
    padding-top:10px;
    text-align: right;
}

#register-form input,textarea,select
{
    background-color: #bcbcbc;
    width:300px;
}

#register-form textarea
{
    
    width: 290px;
    height:50px;
}
#register-form input.registersubmit
{
    width:61px;
    margin-bottom:0;
}


#certpro 
{
   margin-top: 20px; 
}

#certpro td.sep
{
    padding-top:1px;
}

#certpro td
{
    padding:0px 10px 0px 0px;
    margin:0;
}

#trainingop 
{
    margin-top:20px;
}

#trainingop td
{
    font-weight:bold;
    vertical-align:top;
    padding:0;
    margin: 0;
    margin-top: 20px;
    padding-bottom:10px;
}

#trainingop td.col1
{
    
    padding-top:10px;
    text-align: left;
}

#trainingop input,textarea,select
{
    background-color: #bcbcbc;
    width:300px;
}

#trainingop textarea
{
    
    width: 290px;
    height:50px;
}
#trainingop input.registersubmit
{
    width:61px;
    margin-bottom:0;
}

#btm-links p
{
    padding-top:20px;
    font-family:georgia;
    font-size:1.1em;
    margin-bottom:0;
    padding-bottom:0;
    font-style: italic;
}

#btm-links p a
{
    color:#4d99ca;
}